  .example-card{
      margin-top: 4px;
  }
  
  .example-header-image { 
    background-size: cover;
  }
    
  .img-article{
      max-width: 600px;
  }
  
  .action-buttons{
      text-align: center;
  }
    
  .example-sidenav-content {
      display: flex;
      height: 75%;
      align-items: center;
      justify-content: center;
  }
  
  /* .example-sidenav {
      padding: 20px;
  } */
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }
  